<p>
Esta aplicacion es un ejercicio guiado del curso Desarrollo de servicios en la nube con HTML5, Javascript y node.js
de la plata forma Miriada X
</p>

<p>Alumna: Antonia Jimenez Pinazo</p>
<p>Fecha: 31/05/2015</p>
 

 
                                                         