  
  <form method="get" action="/quizes">        
  
  Introduce parte del enunciado de la pregunta que quieres buscar: 
  <input type="text" name="search" value=""/>
  <input type="submit" value="Enviar">
</form>
  